---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Contents from '../components/contents.astro';
---

<Layout title="Welcome to Astro.">
	<main class='min-h-screen relative top-0 px-4 text-zinc-900 font-serif w-11/12 sm:w-4/5  mx-auto '>
		<Hero />
		<Contents />
	</main>
	
</Layout>


<style is:global>
	@import '../styles/styles.css';
</style>

