---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Contents from '../components/contents.astro';
---

<Layout title="Welcome to Astro.">
	<main class='bg-slate-50 h-screen p-4 py-1 font-serif md:w-4/5 lg:w-3/5 mx-auto '>
		<Hero />
		<Contents />
	</main>
	
</Layout>


<style is:global>
	@import '../styles/styles.css';
</style>

