---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Contents from '../components/contents.astro';
---

<Layout title="Welcome to Astro.">
	<main class='bg-white h-screen p-4 py-12 font-playfair'>
		<Hero />
		<Contents />
	</main>
	
</Layout>


<style is:global>
	@import '../styles/styles.css';
</style>

