---
const posts = await Astro.glob('../data/*.md'); 
---

<div class="text-zinc-600 py-4">
  
    <div class='bg-slate-200 h-px my-2'></div>

{posts.map(p => (
  <div class="py-4">
    <a href={p.frontmatter.link}> <h4 class="text-zinc-600 text-base">{p.frontmatter.title}</h4></a>
    <div class='bg-slate-200 h-px my-2'></div>
  </div>))}
</div>