---
const entry = Astro.props

---

<div class="px-4 font-garamond max-w-prose text-zinc-700 text-base  p-12 text-center mx-auto   ">
    <p class="text-center  text-xl   py-6 text-zinc-700"> {entry.number}</p>
   <p class="entry"> {entry.entry}</p>
</div>


<style>
    .entry::first-letter {
        color: rgb(43, 43, 43);
        font-size: 1.5rem;
    }

   
</style>