---
const entry = Astro.props

---

<div class="p-8 max-w-prose sm:w-4/5 md:w-3/5 sm:mx-auto font-serif  leading-relaxed text-zinc-700 text-base lg:text-lg lg:py-24 ">
    <p class="text-center  text-xl  py-4 text-zinc-800"> {entry.number}</p>
   <p class="entry"> {entry.entry}</p>
</div>


<style>
    .entry::first-letter {
        color: rgb(43, 43, 43);
        font-size: 1.5rem;
    }
</style>